@namespace Vrap.LifeLog.Web.Features.DataTables.Table.Edit.Partials
@model FieldPartialModel
@using Vrap.LifeLog.Web.Infra.Mvc

@if (Model.IsHtmxRequest)
{
    @* for AddFieldModalPartial success response *@
    @*  <div>
        <!-- swaps input form into empty div -->
    </div> *@
}

@if (Model.IsHtmxRequest)
{
    @Html.Raw("""<div hx-swap-oob="beforeend:#fields-container">""");
}

<div style="display: flex; gap: 8px; align-items: center;">
    <button type="button" onclick="alert('todo!')">Edit</button>
    <p>
        <span style="font-weight: bold; font-size: 1.1rem">
            @Model.Name: 
        </span>
        <span>
            @Model.Type (@string.Join(", ", Model.PrintArguments()))
        </span>
    </p>
</div>

@if (Model.IsHtmxRequest)
{
    @Html.Raw("</div>");
}
